<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header class="header">
            <h1 class="sr-only">
                Bienvenue à notre site web
            </h1>
        </header>

        <main role="main" class="container mt-5">
            <div >

                    {% block body %}{% endblock %}
                    {% block sidebar %}{% endblock %}
            </div>
        </main>
        {% block footer %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
